@use './variables' as v;
@use './mixins' as m;
 
body h1 {
    @include m.font-type($sizeValue: 500);
}

h1 {
    font-size: 4rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "poppins";
    font-weight: 500;

    img {
        height: 30px;
        margin: 0px 60px;
    }

    ul {
        display: flex;

        li {
            list-style-type: none;
            margin: 20px;
        }
    }
    a {
        text-decoration: none;
        color: v.$secondaryColor;
        position: relative;
        display: inline-block;
            &:hover:after,
            &:focus:after {
                position: absolute;
                height: 2px;
                width: 60%;
                left: 0;
                bottom: -5px;
                background: black;
                display: block;
                content: "";
            }   
        }
    .hamburger {
        position: absolute;
        right:0;
        margin-right: 40px;
        display: none;
    }
}

.bannercover {
    background-image: url(../assets/contact-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 444px;
    min-height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: v.$secondaryColor;
}

.contact-main {
    height:450px;
}

.contact-list {
    margin-top: 50px;
    display:inline-block;
    width: 400px;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    input, textarea {
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1.5px solid v.$tertiaryColor;
            color: v.$tertiaryColor;
            padding: 10px 0px;
            margin: 0 auto 30px;
            width: 100%;
            @include m.font-type($sizeValue: 500);
    }
    li textarea {
  
        margin: 0;
        padding-bottom: 30px;
        padding-top: 0;
       
    }

    button {
        all: unset;
        border: solid v.$secondaryColor 1px;
        margin: 30px 0;
        padding: 15px 35px;
    }
}


footer {
    background-color: v.$secondaryColor;
    display: flex;
    text-align: left;
    color: v.$primaryColor;
    height: 295px;

    .contactfooter {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

    h4 {
        margin: 0;
    }    

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 5px;

        img {
            height: 12px;
            width: 12px;
        }
    }

    .footerbox {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        display: inline-block;
        height: 80%;
        position: relative;

        img {
            margin-right: 5px;
        }

        .footer2 {
            margin: 0;
            padding: 0;
        }
    }

    .footerbig {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;
        width: 100%;
    }
    .footer4 input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid v.$primaryColor;
        color: v.$tertiaryColor;
        padding: 5px 0px;
        margin: 10px auto 30px;
        width: 100%;
    }

    .footer1 {
        p {
            padding-right: 12px;
        }

        ul {
            display: flex;

            li {
                margin-right: 10px;
            }
        }

    }
}


@media (max-width: 1600px) {
    .bannercover {
        background-size: cover;
        height: 250px;
        width: 1600px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

    }

    .banner.textcover {
        align-self: flex-start;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
    }


}

@media (max-width: 1200px) {
    .bannercover {
        background-size: cover;
        height: 200px;
        width: 1200px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

    }

    h1 {
        font-size: 2.5rem;
    }

    .banner.textcover {
        align-self: flex-start;


    }

    .contact-main {
        text-align: center;
    }

    .contact-list {
        font-size: .5rem;
        height: 100px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
        margin-top: 20px;

        .footerbig {
            margin-top: 20px;
            height: 100%;
        }
    }
}

@media (max-width: 900px) {
    .bannercover {
        background-size: cover;
        height: 140px;
        width: 900px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

    }

    .banner.textcover {
        align-self: flex-start;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;

        .footerbig {
            margin-top: 20px;
        }

        p {
            display: none;
        }
    }

    h1 {
        font-size: 2rem;
    }

}

@media (max-width: 650px) {
    .bannercover {
        background-size: cover;
        height: 100%;
        width: 650px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

    }

    .banner.textcover {
        align-self: flex-start;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;


        .footerbig {
            margin-top: 15px;
        }

        ul {

            display: flex;
            flex-direction: column;
        }

        span {
            display: none;
        }

        p {
            display: none;
        }

        .footerbox {
            margin: 10px;
            padding: 10px;

            .footerbox1 {
                height: 100%;
                width: 100%;
                margin: 0;

                .footer1 li {
                    display: inline-block;
                }
            }

            img {
                height: 25px;
                width: 70px;
                margin-bottom: 10px;
            }
        }
    }

    h1 {
        font-size: 2rem;
    }

    nav {
        margin: 30px;

        .hamburger {
            display: contents;
            display: flex;
            justify-content: flex-end;
            margin-right: 100px;
            position: absolute;
            right: -62px;
            top: 43px;
        }

        span {
            display: none;
        }
        ul {
            display: none;
        }

    }



    @media (max-width: 480px) {
        .bannercover {
            background-size: contain;
            height: 100%;
            width: 480px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: v.$secondaryColor;

        }

        .contact-list {
            width: 300px;
        }

        footer {
            height: 25%;

            ul {
                display: flex;
                flex-direction: column;
            }

            .footerbox {
                margin: 0;
                padding: 0;
            }
        }

        .footer1 {
            display: none;
            position: absolute;
            margin: 0;
            padding: 0;

            img {
                display: none;
                position: absolute;
                margin: 0;
                padding: 0;
            }
        }

        .footerbig {
            position: absolute;
            right: 50px;
        }
    }

    @media (max-width: 360px) {
        .bannercover {
            background-size: cover;
            height: 100%;
            width: 360px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: v.$secondaryColor;

            h1 {
                font-size: 1.3rem;
            }
        }

        .contact-list {
            width: 150px;
        }

        footer {
            height: 25%;
            font-size: .8rem;

            p {
                display: none;
            }
        }

    }
}
