@use './variables' as v;
@use './mixins' as m;
 
body h1 {
    @include m.font-type($sizeValue: 500);
}

h1 {
    font-size: 4rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "poppins";
    font-weight: 500;

    img {
        height: 30px;
        margin: 0px 60px;
    }

    ul {
        display: flex;

        li {
            list-style-type: none;
            margin: 20px;
        }
    }
    a {
        text-decoration: none;
        color: v.$secondaryColor;
        position: relative;
        display: inline-block;
            &:hover:after,
            &:focus:after {
                position: absolute;
                height: 2px;
                width: 60%;
                left: 0;
                bottom: -5px;
                background: black;
                display: block;
                content: "";
            }   
        }
    .hamburger {
        position: absolute;
        right:0;
        margin-right: 40px;
        display: none;
    }
}

.bannercover {
    background-image: url(../assets/contact-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 444px;
    min-height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: v.$secondaryColor;
}

.contact-main {
    height:450px;
}

.contact-list {
    margin-top: 50px;
    display:inline-block;
    width: 400px;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    input, textarea {
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1.5px solid v.$tertiaryColor;
            color: v.$tertiaryColor;
            padding: 10px 0px;
            margin: 0 auto 30px;
            width: 100%;
            @include m.font-type($sizeValue: 500);
    }
    li textarea {
  
        margin: 0;
        padding-bottom: 30px;
        padding-top: 0;
       
    }

    button {
        all: unset;
        border: solid v.$secondaryColor 1px;
        margin: 30px 0;
        padding: 15px 35px;
    }
}


footer {
    background-color: v.$secondaryColor;
    display: flex;
    text-align: left;
    color: v.$primaryColor;
    height: 295px;

    .contactfooter {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

    h4 {
        margin: 0;
    }    

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 5px;

        img {
            height: 12px;
            width: 12px;
        }
    }

    .footerbox {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        display: inline-block;
        height: 80%;
        position: relative;

        img {
            margin-right: 5px;
        }

        .footer2 {
            margin: 0;
            padding: 0;
        }
    }

    .footerbig {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 50px;
        width: 100%;
    }
    .footer4 input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid v.$primaryColor;
        color: v.$tertiaryColor;
        padding: 5px 0px;
        margin: 10px auto 30px;
        width: 100%;
    }

    .footer1 {
        p {
            padding-right: 12px;
        }

        ul {
            display: flex;

            li {
                margin-right: 10px;
            }
        }

    }
}



