@use './variables' as v;
@use './mixins' as m;



@media (min-width:2125px) {
    .banner {
            background-size: cover;
            height: 1200px;
            width: auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: v.$secondaryColor;
    
        }
}

@media (max-width: 1600px) {
    .banner {
        background-size: cover;
        height: 750px;
        width: 1600px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

    }
    .banner.textcover {
        align-self: flex-start;
    }
    .footer-big {
        width: 100%;
        height: 20%;
    }
}

@media (max-width: 1200px) {
    .banner {
        background-size: cover;
        height: 600px;
        width: 1200px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

    }
    h1 {
        font-size: 2.5rem;
    }

    .banner-text {
        align-self: flex-start;
        height: 100%;
    }

    .threephotos {
        margin: 25px;
        width: auto;
        height: auto;

            .cattext {
                font-size: .9rem;
                width: 100px;
                height: 45px
            }
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .gallery1 h3 {
        display: inline-block;
        width: 100%;
        max-width: 60px;
        background: #eba6aa;
    }

    .gallery3 h3 {
        display: inline-block;
        width: 100%;
        max-width: 60px;
        background: #88cce2;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .gallery-pic {
        width: 16%;

        .gallery-txt {
            padding-left: 15px;
            font-size: .9rem;

            img {
                height: 20px;
                width: 20px;
                margin: 10px;
                align-self: flex-start;
                padding: 0;
            }
        }
    }
}

.section2.section2-photo.section2-text2 {
}

    .footerbig {
        width: 100%;
        height: 20%;
        margin-top: 20px;

                .footerbig {
                        margin-top: 20px;
                        height: 100%;
                    }
        }
}


@media (max-width: 900px) {

    .banner {
        background-size: cover;
        height: 500px;
        width: 900px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;
        font-size: 1rem;

            .banner-text {
                display: inline-block;
                text-align: left;
                height: 100%;
                width: 300px;
                color: v.$secondaryColor;

                h1 {
                    font-size: 2rem;
            }
        }

    }

    .threephotos {
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 600px;

        img {
            padding: 0x;
            width: 100%;
            height: 300px;
            margin: 10px;
        }

        .cattext {
            font-size: .8rem;
            width: 100px;
            height: 40px
        }
    }

    
        .gallery {
            display: flex;
            flex-wrap: wrap;
        
            img {
                height: 57%;
                flex-grow: 2;
            }

            .gallery-pic {
                width: 25%;
                height: 355px;

            
                .gallery-txt {
                    padding: 0 auto;
                    font-size: .6rem;

                        p {
                            font-size: 1rem;
                        }

                        img {
                            height: 30px;
                            width: 30px;
                            margin: 20px;
                            align-self: flex-start;
                        }
                }
            }
        }  

.section2.section2-photo.section2-text2 {

}
        
    .section2 {
    display: flex;
    flex-wrap: wrap;
    } 

    
    .gallery2  {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;

        
        img {
            height: 50%;
            width: 80%;
            margin: 10px;
            flex-grow: 1;
        }
}

    .footerbig {
        width: 100%;
        height: 30%;
        margin: 10px;
        padding: 10px;

        .footerbig {
            margin-top: 20px;
        }

        p {
                display: none;
            }
    }
    
}

@media (max-width: 650px) {

    nav {
            margin: 30px;
            
            .hamburger .fa-solid{
                display: block;
            }
    
            .menu {
                display: block;
            }
    
            span {
                display: none;
            }
    
            ul {
                display: none;
            }

    .banner {
        background-size: cover;
        height: 350px;
        width: 650px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

            .banner-text {
                display: inline-block;
                text-align: left;
                height: 100%;
                width: 300px;
                color: v.$secondaryColor;

                p {
                    font-size: .8rem;
                }

                h1 {
                        margin: 0;
                        padding: 0;
                        font-size: 1rem;
                }
            }
    }

    .threephotos {
        justify-content: center;
        height: 566px;

        img {
                padding: 0;
                width: 100%;
                height: 240px;
                margin: 0;
            }

        .cattext{
            display: none;
        }
    }

    
    .gallery {
        display: flex;
        flex-wrap: wrap;

        img {
            height: 45%;
            flex-grow: 2;
        }
        .gallery-pic {
            width: 33%;
            height: 255px;

            .gallery-txt {
                padding: 0 auto;
                font-size: .6rem;

                p {
                    font-size: 1rem;
                }

                img {
                    height: 30px;
                    width: 30px;
                    margin: 20px;
                    align-self: flex-start;
                }
            }
        }
    }

    .section2-text2 {
        font-size: 1.2rem;
    }

    .section3 .gallery2 img {
        height: 100%;
        width: 40%;
        margin: 10px;
    }

    .footerbig {
        width: 100%;
        height: 30%;
        margin: 15px;

        ul {

            display: flex;
            flex-direction: column;
        }

        span, p {
            display: none;
        }

    .footerbox {
        margin: 10px;
        padding: 10px;

            .footerbox1 {
            height: 100%;
            width: 100%;
            margin: 0;

            .footer1 li {
                display: inline-block;
            }
        }

        img {
            height: 25px;
            width: 70px;
            margin-bottom: 10px;
            }
        }
    }

    h1 {
        font-size: 1rem;
    }
}



@media (max-width: 480px) {
    .banner {
        background-size: cover;
        height: 250px;
        width: 480px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

            .banner-text {
                display: inline-block;
                text-align: left;
                height: 100%;
                width: 300px;
                color: v.$secondaryColor;

                p {
                    display: none;
                }

                h1 {
                    margin: 0;
                    padding: 0;
                    font-size: 1.2rem;

                }
            }
    }

    .cat1 img, .cat2 img {
        display: none;
    }

    .threephotos {
        height: 600px;
        width: 900px;
        padding: 10px;
        position: relative;
        img {
            position: absolute;
                padding: 0x;
                width: 500px;
                height: 500px;
                margin: 10px;
                bottom: -150px;
                left: -320px;
            }
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .gallery-pic {
            width: 75%;
            height: 500px;
            

            .gallery-txt {
                padding: 0 auto;
                font-size: .6rem;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 1rem;
                }

                img {
                    height: 50px;
                    width: 20px;
                    margin: 20px;
                    margin-left: 40px;
                    align-self: flex-start;
                }
            }
        }
    }


        ul {
            display: flex;
            flex-direction: column;
        }
        .footerbox {
            margin: 0;
            padding: 0;

            span {
                display: none;
            }
        }
    }

    .section2 .section2-photo .section2-text2 {
        font-size: 0.8rem;
    }

    .section2 img {
        height: 550px;
    }

    .section3 .gallery2 img {
        height: 100%;
        width: 40%;
        margin: 10px;
    }

    .footer1 {
        margin: 0;
        padding: 0;

        img {
        display: none;
        position: absolute;
        margin: 0;
        padding: 0;
        }
    }

    .footerbig {
        position: relative;
        right: 40px;
    }

    
}

@media (max-width: 360px) {
    .banner {
        background-size: cover;
        height: 180px;
        width: 360px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$secondaryColor;

            .banner-text {
                display: inline-block;
                text-align: left;
                height: 100%;
                width: 300px;
                color: v.$secondaryColor;

                    h1 {
                        margin: 0;
                        padding: 0;
                        font-size: 1rem;

                    }
            }
    }

    .threephotos {
        height: 400px;
        width: 650px;
        padding: 10px;
        position: relative;

        img {
            position: absolute;
            padding: 0x;
            width: 300px;
            height: 300px;
            margin: 15px;
            bottom: -75px;
            left: -240px;
        }
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        height: 80%;


        .gallery-pic {
            width: 75%;
            height: 400px;

            .gallery-txt {
                padding: 0 auto;
                font-size: .6rem;

                p {
                    font-size: 1rem;
                }

                img {
                    height: 30px;
                    width: 30px;
                    margin: 20px;
                    align-self: flex-start;
                }
            }
        }
    }

    .section2.section2-photo.section2-text2 {
    }

    .section2-photo img {
        height: 550px;
    }
        
    
.section2 img {
    height: 340px;
}

    .section3 .gallery2 img {
        height: 100%;
        width: 80%;
        margin: 10px;
    }

    .footerbig  {
        height: 25%;
        font-size: .8rem;
        position: relative;
        right:80px;


        p {
            display: none; 
        }
    }

}
@media (min-width: 650px) {
    .hamburger {
    display: none;
        }
}