html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  text-decoration: none;
}

body {
  background-color: white;
  font-weight: 500;
  font-family: "poppins";
}

.wrapper1 {
  max-width: 2200px;
  width: 70%;
  margin: 0 auto;
}

.wrapper2 {
  max-width: 2200px;
  width: 80%;
  margin: 0 auto;
}

.wrapper3 {
  max-width: 2200px;
  width: 75%;
  margin: 0 auto;
}

.banner {
  background-image: url(../assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .banner-text {
  display: inline-block;
  text-align: left;
  height: 400px;
  width: 300px;
  color: #333;
}
.banner .banner-text h1 {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: 500;
  font-family: "poppins";
}

body {
  font-family: "poppins";
  font-weight: 400;
  line-height: 1.4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins";
  font-weight: 500;
}
nav img {
  height: 30px;
  margin: 0px 60px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 20px;
}
nav a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}
nav a:hover:after, nav a:focus:after {
  position: absolute;
  height: 2px;
  width: 60%;
  left: 0;
  bottom: -5px;
  background: black;
  display: block;
  content: "";
}

.threephotos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: auto;
  height: 100%;
  margin: 100px 0px;
}
.threephotos img {
  height: 100%;
  width: 100%;
}
.threephotos .catpic {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0px 20px;
  position: relative;
  transition: all 0.8s ease;
}
.threephotos .catpic:hover {
  transform: scale(1.1) translateY(-30px);
}

.cattext {
  position: absolute;
  display: inline-block;
  width: 100%;
  max-width: 120px;
  background: white;
  margin: 0;
  padding: 0px 10px;
  bottom: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery .gallery1 h3 {
  display: inline-block;
  width: 100%;
  max-width: 60px;
  background: #eba6aa;
}
.gallery .gallery3 h3 {
  display: inline-block;
  width: 100%;
  max-width: 60px;
  background: #88cce2;
}
.gallery img {
  height: 100%;
  width: 100%;
}
.gallery .gallery-pic {
  width: 18%;
  border: 1px solid rgba(220, 220, 220, 0.5);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery .gallery-pic .gallery-txt {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.gallery .gallery-pic .gallery-txt img {
  height: 35px;
  width: 35px;
  align-self: center;
  margin: 15px;
  margin-left: 0;
  padding: 5px;
  border: 1px solid rgba(220, 220, 220, 0.5);
}

.button-box {
  display: flex;
  justify-content: center;
  margin: 40px auto 60px auto;
}
.button-box button {
  all: unset;
  border: solid black 1px;
  margin: 20px;
  padding: 15px 25px;
}

.gallery-head {
  text-align: center;
}
.gallery-head h2 {
  display: inline-block;
}
.gallery-head h2:after {
  position: relative;
  height: 3px;
  width: 30%;
  left: 60px;
  bottom: -5px;
  background: black;
  display: block;
  content: "";
}

.section2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px auto;
  position: relative;
}
.section2 img {
  height: 700px;
  margin: 0;
  width: 100%;
}
.section2 .section2-photo {
  margin: 10px;
  position: relative;
  flex-grow: 2;
}
.section2 .section2-photo h4 {
  background-color: white;
  display: inline-block;
  padding: 5px 50px;
  margin: 0;
  color: #d7b89c;
}
.section2 .section2-photo .section2-text1 {
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 0px;
  right: 0px;
  display: inline-block;
  color: white;
}
.section2 .section2-photo .section2-text1 p span {
  font-size: 4rem;
  font-weight: 700;
  font-family: "poppins";
}
.section2 .section2-photo .section2-text2 {
  position: absolute;
  text-align: center;
  top: 80px;
  left: 200px;
  right: 200px;
  display: inline-block;
  width: 50%;
  color: white;
  border: 1px white solid;
  font-size: 1.9rem;
  font-weight: 500;
  font-family: "poppins";
}
.section2 .section2-photo .section2-text2 span {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "poppins";
}

.section3 .section3-text {
  text-align: center;
}
.section3 .section3-text p {
  color: #666;
}
.section3 .section3-text h3 {
  font-size: 2.5rem;
  margin: 0;
}
.section3 .gallery2 {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  margin-bottom: 100px;
}
.section3 .gallery2 img {
  height: 100%;
  width: 18%;
}

footer {
  background-color: #333;
  display: flex;
  text-align: left;
  color: white;
}
footer h4 {
  margin: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
}
footer ul img {
  height: 12px;
  width: 12px;
}
footer .footerbox {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 80%;
}
footer .footerbox img {
  margin-right: 5px;
}
footer .footerbox .footer2 {
  margin: 0;
  padding: 0;
}
footer .footerbig {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.footer1 p {
  padding-right: 12px;
}
.footer1 ul {
  display: flex;
}
.footer1 ul li {
  margin-right: 10px;
}

.footer4 input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: #666;
  padding: 5px 0px;
  margin: 10px auto 30px;
  width: 100%;
}

body h1 {
  font-weight: 500;
  font-family: "poppins";
}

h1 {
  font-size: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins";
  font-weight: 500;
}
nav img {
  height: 30px;
  margin: 0px 60px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 20px;
}
nav a {
  text-decoration: none;
  color: #333;
  position: relative;
  display: inline-block;
}
nav a:hover:after, nav a:focus:after {
  position: absolute;
  height: 2px;
  width: 60%;
  left: 0;
  bottom: -5px;
  background: black;
  display: block;
  content: "";
}
nav .hamburger {
  position: absolute;
  right: 0;
  margin-right: 40px;
  display: none;
}

.bannercover {
  background-image: url(../assets/contact-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 444px;
  min-height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
}

.contact-main {
  height: 450px;
}

.contact-list {
  margin-top: 50px;
  display: inline-block;
  width: 400px;
}
.contact-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact-list input, .contact-list textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1.5px solid #666;
  color: #666;
  padding: 10px 0px;
  margin: 0 auto 30px;
  width: 100%;
  font-weight: 500;
  font-family: "poppins";
}
.contact-list li textarea {
  margin: 0;
  padding-bottom: 30px;
  padding-top: 0;
}
.contact-list button {
  all: unset;
  border: solid #333 1px;
  margin: 30px 0;
  padding: 15px 35px;
}

footer {
  background-color: #333;
  display: flex;
  text-align: left;
  color: white;
  height: 295px;
}
footer .contactfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
footer h4 {
  margin: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
}
footer ul img {
  height: 12px;
  width: 12px;
}
footer .footerbox {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  display: inline-block;
  height: 80%;
  position: relative;
}
footer .footerbox img {
  margin-right: 5px;
}
footer .footerbox .footer2 {
  margin: 0;
  padding: 0;
}
footer .footerbig {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  width: 100%;
}
footer .footer4 input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: #666;
  padding: 5px 0px;
  margin: 10px auto 30px;
  width: 100%;
}
footer .footer1 p {
  padding-right: 12px;
}
footer .footer1 ul {
  display: flex;
}
footer .footer1 ul li {
  margin-right: 10px;
}

@media (max-width: 1600px) {
  .bannercover {
    background-size: cover;
    height: 250px;
    width: 1600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
  }
  .banner.textcover {
    align-self: flex-start;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
  }
}
@media (max-width: 1200px) {
  .bannercover {
    background-size: cover;
    height: 200px;
    width: 1200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
  }
  h1 {
    font-size: 2.5rem;
  }
  .banner.textcover {
    align-self: flex-start;
  }
  .contact-main {
    text-align: center;
  }
  .contact-list {
    font-size: 0.5rem;
    height: 100px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    margin-top: 20px;
  }
  footer .footerbig {
    margin-top: 20px;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .bannercover {
    background-size: cover;
    height: 140px;
    width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
  }
  .banner.textcover {
    align-self: flex-start;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
  }
  footer .footerbig {
    margin-top: 20px;
  }
  footer p {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 650px) {
  .bannercover {
    background-size: cover;
    height: 100%;
    width: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
  }
  .banner.textcover {
    align-self: flex-start;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
  }
  footer .footerbig {
    margin-top: 15px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
  }
  footer span {
    display: none;
  }
  footer p {
    display: none;
  }
  footer .footerbox {
    margin: 10px;
    padding: 10px;
  }
  footer .footerbox .footerbox1 {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  footer .footerbox .footerbox1 .footer1 li {
    display: inline-block;
  }
  footer .footerbox img {
    height: 25px;
    width: 70px;
    margin-bottom: 10px;
  }
}
h1 {
  font-size: 2rem;
}

nav ul {
  visibility: hidden;
}
nav .hamburger {
  display: contents;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  position: absolute;
  right: -62px;
  top: 43px;
}

@media (max-width: 480px) {
  .bannercover {
    background-size: contain;
    height: 100%;
    width: 480px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
  }
  .contact-list {
    width: 300px;
  }
  footer {
    height: 25%;
  }
  footer ul {
    display: flex;
    flex-direction: column;
  }
  footer .footerbox {
    margin: 0;
    padding: 0;
  }
  .footer1 {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .footer1 img {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .footerbig {
    position: absolute;
    right: 50px;
  }
}
@media (max-width: 360px) {
  .bannercover {
    background-size: cover;
    height: 100%;
    width: 360px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
  }
  .bannercover h1 {
    font-size: 1.3rem;
  }
  .contact-list {
    width: 150px;
  }
  footer {
    height: 25%;
    font-size: 0.8rem;
  }
  footer p {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */